/* .profile-container {
    width: 100%;
    height: 100vh;
    background-image: url("http://wallpapersafari.com/download/qxHlTK/");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */
.action-row {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-row .skilltab-action-title {
    min-width: 100px;
}
.skilltab-action-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skilltab-action-header-player {
    width: 100%;
    margin-right: 30px;
    text-align: center;
}
.skilltab-action-header p {
    margin-bottom: 0 !important;
}
.skilltab-highlight-button {
    color: wheat !important;
    font-size: 16px !important;
}
.statistic-table-body {
    /* background-color: #3e3636; */
}
.statistic-table-body td {
    border-right: 1px #d6e7e8 solid;
}
.action-row .skilltab-play-button {
    color: yellow;
    padding: 0;
}
.action-row p {
    margin-bottom: 0px !important;
}
.skilltab-total {
    width: 50px;
    text-align: center;
}
.profileSection {
    padding-top: 10px;
    background-color: #0b0a22;
    color: white;
    min-height: 100vh;
}
.profileInfo {
    padding: 10px;
    margin: auto;
}
.RSPBprogressBar .RSPBprogressBarText {
    font-size: 16px;
    font-weight: 600;
}
.profileSection .player_name {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
div.player-detail-card {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
}
div.profileImg-wrapper {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.profileimg {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 80px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 80px;
    -moz-background-clip: padding;
    border-radius: 80px;
    background-clip: padding-box;
    float: left;
    background-size: cover;
    background-position: center center;
}
.profileInfo p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
ul.nav.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.skillsTab li {
    margin-right: 2px;
    margin-left: 2px;
}
.tableBorder {
    margin-left: 4px;
}
.tableBorder .shots,
.tableBorder .passes,
.tableBorder .crosses {
    border: 1px #d6e7e8 solid;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
}
.statistic-clickable-success {
    text-decoration: underline;
    color: lime !important;
}
.statistic-clickable-unsuccess {
    text-decoration: underline;
    color: red !important;
}
.shots p {
    margin: 0px;
    color: #fff;
    /* font-weight: 700; */
    font-size: 14px !important;
}
.shots-title {
    color: black;
    font-weight: 700;
    font-size: 16px;
    background-color: #d6e7e8;
}
.passes span {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}
.crosses span {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.dividedColumn {
    margin: 0 auto;
    display: flex;
}

.column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.column {
    text-align: center;
}
.dividedColumn p {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}
.dividedColumn h2 {
    color: #fff;
    font-weight: 700;
    font-size: 28px !important;
}

.nav-link {
    color: #222 !important;
    font-weight: 700;
    background-color: #fcefee !important;
    margin-left: 2px !important;
}

.nav-link.active {
    background-color: #e3c4a8 !important;
    color: #222 !important;
}

.progress {
    margin-left: 10px;
}

.heading {
    font-size: 28px !important;
}

div.profileSection td h5,
div.profileSection p,
div.profileSection span {
    font-size: 18px !important;
    color: whitesmoke !important;
}

div.profileSection .tableBorder .shots,
div.profileSection .tableBorder .passes,
div.profileSection .tableBorder .crosses {
    border: 1px solid whitesmoke !important;
}
div.profileSection th,
div.profileSection td {
    padding: 10px 5px 20px 5px !important;
}
