.player-wrapper {
    max-width: 1300px;
    margin: auto;
    width: auto;
    height: auto;
    margin-top: -56.25%; 
  }
  .react-player {
    padding-top: 56.25%; 
    position: relative; 
  }
  
  .react-player > div {
    top:0;
    position: absolute; 
  }